// src/styles/toggleText.scss
#toggle-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  
    &:hover {
      background-color: #2980b9;
    }
  }
  
  #toggle-text {
    display: none;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  